.page {
  min-height: 100svh;
  font-family: var(--font-geist-sans);
}

.layout {
  width: 100vw;
  height: 100vh;
}

.header {
  color: #fff;
  height: 64px;
  padding-inline: 24px;
  z-index: 3;
  background-color: var(--page-header-color);
  box-shadow: var(--page-header-box-shadow);
}

.content {
  color: var(--page-text-color);
  background-color: var(--page-background-color);
}
